#form_for
  = form_for resource do |f|
    = f.text_field :user_name

    = f.fields_for :roles, dynamic: true do |rf|
      = rf.text_field :role_name
      = rf.remove_fields_link 'Remove role'

    = f.add_fields_link :roles, 'Add role'

    = f.submit

#simple_form_for
  = simple_form_for resource do |f|
    = f.input :user_name

    = f.simple_fields_for :roles, dynamic: true do |rf|
      = rf.input :role_name
      .remove_link= rf.remove_fields_link 'Remove role'

    = f.add_fields_link :roles, 'Add role'

    = f.submit
