= form_for @resource do |f|
  = f.text_field :user_name

  .fields_container
    = f.fields_for :roles, dynamic: true do |rf|
      = rf.text_field :role_name, class: 'role_name'
      = rf.remove_fields_link 'Remove role', class: 'remove_link'

  = f.add_fields_link :roles, 'Add role'

  = f.submit

#event_catcher
